* {
    padding: 0;
    margin: 0;
  }
html, body {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
}
body > * {
    flex-shrink: 0;
  }


.lefthalf{
    z-index:9999;
    flex-grow: 1;
    width: 50vw;
    background: rgba(0, 0, 0, 0.4);
}

#details{
   
    padding-top: 19vh;
    padding-left: 5%;
    background: none;
    font-size: 9vh;
    color: white;
    opacity: 1;
    font-weight: bold;
    font-family: 'Ubuntu';
}

p{

    font-size: 4vh;
}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 48vw;
}
li{
 
    display: block;
    float: left;
    padding: 1%;
}
a{

    text-decoration: none;
    padding-top: 10%;
    color: white;
}
.arrowleft{

    position: fixed;
    font-size: 6vh;
    float: left;
    left: 3vw;
    bottom: 5vh;
}
.arrowright{
  
    position: fixed;
    font-size: 6vh;
    float: right;
    left: 45vw;
    bottom: 5vh;

}

#git{

    float: right; 
    padding-right: 5%;
}

.home{
    
    display: block;
    font-family: 'Ubuntu';
    font-size: 4vh;
    position: absolute;
    padding-top: 2%;
    /* padding-left: 80%; */
    padding-left: 2%;
}

canvas{ position:absolute; width: 100%; height: 100%;  background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }