body {
    font-family: 'Ubuntu';font-size: 22px;
}

.navops{
    font-size: 40px;
    float: left;
    display: block;
    color: black;
    padding: 2% 1%;
    text-decoration: none;
}

.navlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 95%;
  padding-right: 1%;
  padding-left: 2%;
}
.icons{
    float: right;
}

.info{
    padding-left: 5%;
    padding-top: 11%;
    font-size: 100px;
}
p { margin:0 }

body {
	background: linear-gradient(-45deg, #ee7752, purple, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
